body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}


p{
    color: dimgray;
}
.orange-highlight{
   color: orange; 
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lime, #a0ff47b0);
    padding: 8px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.5s;
}
.link-button:hover{
   background-image: linear-gradient(45deg, lightsalmon, tomato);
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left:7px solid;
    border-image: linear-gradient(180deg, blue, aqua);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 600px){
    p{
        font-size:3vw;
    }
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 4vw;
    }
    .single-experience{
        height: 70%;
    }
    .link-button{
       
        font-size: 2vw;
        padding: 2vw;
        
    }
    
    .top-banner{
        background-size: 180vw;
    }
    .dream-area{
        background-size: 10vw;
     }
    .experience-area{
        background-size: 10vw;
    }
    footer p{
        font-size: 2vw;
    }
    section{
        padding-bottom: 2px;
    }

}